.container {
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin: 10% auto 0 auto;
    background: green
}

.container > div {
    text-align: center
}

#content {
    border: 1px solid black
}

#footer {
    background: none;
    font-weight: bold;
    padding: 10px

}

.copied {
    left: 0;
    bottom: 0;
    font-weight: bold;
}